@model IEnumerable<krotkiProjekt.Models.Temp2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table>
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Id_A)*@
            Nr Autora
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Id_K)*@
            @Html.Encode("Nr Książki") 
            @*//normalnie się wyświetla 'string':)*@
            
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Tytul)*@
            Tytuł
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Opis)*@
            Opis książki
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Data_wydania)*@
            Data wydania
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_A)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_K)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tytul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_wydania)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
